doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    each s in scripts
      script(src=s)
  body(onload="init()")
    h1= title
    p Welcome to #{title}
    #layoutLeft
      p Test
      p#imei
      p#lat
      p#lng
      p#acc
    #layoutRight
      #main