doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    each s in scripts
      script(src=s)
  body(onload="init()")
    h1= title
    p Welcome to #{title}
    #lat
    #layoutLeft
      p Test
    #layoutRight
      #main
        p test2